<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/Everest.jpg" alt="Everst Technologies" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Everest Technologies</h5>
          <p class="card-text">Attended the interview, task is given by interviewer</p>
          <div class="col-md-12 text-center">
          <button type="button" *ngIf="showMe else elseBlock" (click)="clickMe()" class="btn btn-primary">Add</button>&nbsp;
        <ng-template #elseBlock>
          <button type="button" *ngIf="hideMe" (click)="reduceMe()" class="btn btn-primary">Reduce</button>
        </ng-template>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/Everest.jpg" alt="Everst Technologies" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Everest Technologies</h5>
          <p class="card-text">Attended the interview, task is given by interviewer</p>
          <div class="col-md-12 text-center">
            <button type="button" *ngIf="showMe else elseBlock" (click)="clickMe()" class="btn btn-primary">Add</button>&nbsp;
          <ng-template #elseBlock>
            <button type="button" *ngIf="hideMe" (click)="reduceMe()" class="btn btn-primary">Reduce</button>
          </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/Task.png" alt="Everst Technologies" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Everest Technologies</h5>
          <p class="card-text">Attended the interview, task is given by interviewer</p>
          <div class="col-md-12 text-center">
            <button type="button" *ngIf="showMe else elseBlock" (click)="clickMe()" class="btn btn-primary">Add</button>&nbsp;
          <ng-template #elseBlock>
            <button type="button" *ngIf="hideMe" (click)="reduceMe()" class="btn btn-primary">Reduce</button>
          </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/Task.png" alt="Everst Technologies" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Everest Technologies</h5>
          <p class="card-text">Attended the interview, task is given by interviewer</p>
          <div class="col-md-12 text-center">
            <button type="button" *ngIf="showMe else elseBlock" (click)="clickMe()" class="btn btn-primary">Add</button>&nbsp;
          <ng-template #elseBlock>
            <button type="button" *ngIf="hideMe" (click)="reduceMe()" class="btn btn-primary">Reduce</button>
          </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/Everest.jpg" alt="Everst Technologies" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Everest Technologies</h5>
          <p class="card-text">Attended the interview, task is given by interviewer</p>
          <div class="col-md-12 text-center">
            <button type="button" *ngIf="showMe else elseBlock" (click)="clickMe()" class="btn btn-primary">Add</button>&nbsp;
          <ng-template #elseBlock>
            <button type="button" *ngIf="hideMe" (click)="reduceMe()" class="btn btn-primary">Reduce</button>
          </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/Task.png" alt="Everst Technologies" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Everest Technologies</h5>
          <p class="card-text">Attended the interview, task is given by interviewer</p>
          <div class="col-md-12 text-center">
            <button type="button" *ngIf="showMe else elseBlock" (click)="clickMe()" class="btn btn-primary">Add</button>&nbsp;
          <ng-template #elseBlock>
            <button type="button" *ngIf="hideMe" (click)="reduceMe()" class="btn btn-primary">Reduce</button>
          </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/Everest.jpg" alt="Everst Technologies" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Everest Technologies</h5>
          <p class="card-text">Attended the interview, task is given by interviewer</p>
          <div class="col-md-12 text-center">
            <button type="button" *ngIf="showMe else elseBlock" (click)="clickMe()" class="btn btn-primary">Add</button>&nbsp;
          <ng-template #elseBlock>
            <button type="button" *ngIf="hideMe" (click)="reduceMe()" class="btn btn-primary">Reduce</button>
          </ng-template>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/Task.png" alt="Everst Technologies" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Everest Technologies</h5>
          <p class="card-text">Attended the interview, task is given by interviewer</p>
          <div class="col-md-12 text-center">
            <button type="button" *ngIf="showMe else elseBlock" (click)="clickMe()" class="btn btn-primary">Add</button>&nbsp;
          <ng-template #elseBlock>
            <button type="button" *ngIf="hideMe" (click)="reduceMe()" class="btn btn-primary">Reduce</button>
          </ng-template>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>