<div class="container">
  <app-sibiling2 [offline]="offline" [online]="online"></app-sibiling2>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let card of cards;let i = index">
      <div class="card" [ngClass]="{'bg-danger': !card.online,'bg-success': card.online}" > 
        <img src="{{card.img}}" alt="Everst Technologies" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{card.title}}</h5>
          <p class="card-text">{{card.desc}}</p>
          <div class="col-md-12 text-center">
          <button type="button" (click)="clickMe(i)" class="btn btn-dark rounded-0 shadow-lg">{{card.button}}</button>&nbsp;
        </div>
        </div>
      </div>
    </div>
  </div>
</div>